---
import Nav from "../pages/components/Nav";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
            <Nav client:load/>
            <slot/>
            <!-- All the different pages need to be rendered here -->
        </main>
	</body>
</html>